{
  "parser": "babel-eslint",
  // because we use babel
  "extends": "airbnb",
  "plugins": [
    "flowtype",
    "react"
    // https://www.npmjs.com/package/eslint-plugin-flowtype
  ],
  "settings": {
    "react": {
      "pragma": "React",  // Pragma to use, default to "React"
      "version": "0.14.0" // React version, default to the latest React stable release
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    // disable requiring trailing commas because it might be nice to revert to
    // being JSON at some point.
    "comma-dangle": 0,

    // flow type
    "flowtype/require-parameter-type": 1,
    "flowtype/require-return-type": [
      1,
      "always",
      {
        "annotateUndefined": "never"
      }
    ],
    "flowtype/space-after-type-colon": [
      1,
      "never" // webstorm reindent without space :/
    ],
    "flowtype/space-before-type-colon": [
      1,
      "never"
    ],
    "flowtype/type-id-match": [
      1,
      "^([A-Z][a-z0-9]+)+Type$"
    ]
  },
}